body{
    background-color: #f8f8f8;
}
ul{
    list-style-type: none;
}
.glavnaya{
    color: red;
    font-family: Georgia,"Courier New","Times New Roman";
    font-size: 15px;
    font-style: italic;
    font-weight: bolder;
    text-decoration: none;
}
.katalog{
    color: green;
    font-family: "Comic Sans MS","Courier New","Times New Roman";
    font-size: 18px;
    font-style: revert;
    font-weight: bolder;
    text-decoration: none;
}
.contacts{
    color: yellowgreen;
    font-family: Arial,"Courier New","Times New Roman";
    font-size: 25px;
    font-style: normal;
    font-weight: bolder;
}
h1{
    color: red;
}
h2{
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}
.kratko{
    color:#707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}
.podrobno{
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.spisok{
    color: purple;
    font-family: Ebrima,"Courier New","Times New Roman";
    font-size: 30px;
    font-style: italic;
    font-weight: 250;
    list-style-image: url("http://s1.iconbird.com/ico/0912/fugue/w16h161349013004skullold.png");
}
.pole::placeholder{
    font-family: Ebrima,"Courier New","Times New Roman";
    font-size: 17px;
    font-style: italic;
    font-weight: bolder;
    color: green;
}
.img{
    border: 25px solid #096586;
}
input{
    width: 500px;
    height: 50px;
}
.nazvanie{
    color:darkorange;
}
footer{
    text-align: right;
    font-weight: bolder;
}