@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
body {
    background: url("https://image.freepik.com/free-photo/rusty-brown-and-light-green-textured-background-high-resolution-image-with-copy-space_87646-1254.jpg") no-repeat;
    background-size: cover;
    padding-bottom: 15px;
}

.privetstvie {
    color: black;
    font-family: Rockwell, "Courier New", "Times New Roman";
    font-size: 20px;
    font-style: revert;
    font-weight: bolder;
    text-shadow: white 0px 0px 10px,
    red 0px 0px 10px,
    #19de99 0px 0px 10px;
}

.ulmain {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin: -200px 0 0 0;
}
.ulmain_kont {
    list-style-type: none;
    color: #964b09;
    font-family: "Comic Sans MS", "Courier New", "Times New Roman";
    font-size: 14px;
    font-style: revert;
    font-weight: bolder;
    text-decoration: none;
    text-shadow: white 0px 0px 10px,
    red 0px 0px 10px,
    #19de99 0px 0px 10px;
}
.ulmain li{
    display: inline;
    padding: 0 30px;
}
.menu {
    color: #a55907;
    font-family: "Comic Sans MS", "Courier New", "Times New Roman";
    font-size: 18px;
    font-style: revert;
    font-weight: bolder;
    text-decoration: none;
    text-shadow: wheat 0px 0px 10px,
    red 0px 0px 10px,
    #19de99 0px 0px 10px;
}

.menu:hover {
    color: black;
}

.podzagolovok {
    background-color: #b8b5af;
    color: #d2680c;
    font-family: "Comic Sans MS", "Courier New", "Times New Roman";
    font-size: 18px;
    font-style: revert;
    font-weight: bolder;
    text-decoration: none;
    text-shadow: white 0px 0px 10px,
    red 0px 0px 10px,
    #31ef12 0px 5px 10px,
    #e2be0f 4px 0px 10px;
}

.kratko {
    color: #ecb81f;
    font-family: "Droid Sans", "Courier New", "Times New Roman";
    font-size: 18px;
    font-style: revert;
    font-weight: bolder;
    text-shadow: black 3px 3px 10px,
    black 0px 0px 10px,
    red 3px 2px 10px,
    #19de99 0px 0px 10px;
    margin: 0;
}

.podrobno {
    color: #ecb81f;
    font-family: "Droid Sans", "Courier New", "Times New Roman";
    font-size: 18px;
    font-style: revert;
    font-weight: bolder;
    text-shadow: black 3px 3px 10px,
    black 0px 0px 10px,
    red 3px 2px 10px,
    #19de99 0px 0px 10px;

}
.podrobno:first-letter{
    color: #e75406;
    font-family: "Droid Sans", "Courier New", "Times New Roman";
    font-size: 35px;
    font-style: revert;
    font-weight: bolder;
    text-shadow: white 0px 0px 10px,
    red 0px 0px 10px,
    #19de99 0px 0px 10px;
}
.kratko:first-letter{
    color: #e75406;
    font-family: "Droid Sans", "Courier New", "Times New Roman";
    font-size: 35px;
    font-style: revert;
    font-weight: bolder;
    text-shadow: white 0px 0px 10px,
    red 0px 0px 10px,
    #19de99 0px 0px 10px;
}
.spisok {
    color: #020101;
    font-family: Ebrima, "Courier New", "Times New Roman";
    font-size: 30px;
    font-style: italic;
    font-weight: 250;
    text-shadow: wheat 3px 3px 10px,
    green 0px 0px 10px,
    red 0px 0px 10px;
    list-style-image: url("http://s1.iconbird.com/ico/0912/fugue/w16h161349013004skullold.png");
}

.pole::placeholder {
    font-family: Ebrima, "Courier New", "Times New Roman";
    font-size: 17px;
    font-style: italic;
    font-weight: bolder;
    color: #ee7810;
}

.pole:focus {
    text-transform: capitalize;
}

.poletel::placeholder {
    font-family: Ebrima, "Courier New", "Times New Roman";
    font-size: 17px;
    font-style: italic;
    font-weight: bolder;
    color: #ee7810;
}

.polemail::placeholder {
    font-family: Ebrima, "Courier New", "Times New Roman";
    font-size: 17px;
    font-style: italic;
    font-weight: bolder;
    color: #ee7810;
}

.polemail:focus {
    background-color: black;
    color: #d9b70c;
}

.img {
    outline: 25px solid #f56d24;
    margin: 30px;
    display: block;
}

.img:hover {
    outline: none;
}

.form input {
    width: 500px;
    height: 50px;
}

.nazvanie {
    font-family: 'Knewave', cursive;
    color: #000000;
    text-shadow: white 0px 0px 10px,
    red 0px 0px 10px,
    #31ef12 0px 5px 10px,
    #e2be0f 4px 0px 10px;
}

.footer {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    padding: 5px 30px 0 0;
    font-weight: bolder;
    color: #ea961a;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 25px;
    width: 100%;
    background: url("../images/footer-fon.jpg");
}


.table{
    width: 900px;
}
.table td{
    outline: 4px solid #010e01;
    color: #060809;
    font-family: "Comic Sans MS", "Courier New", "Times New Roman";
    font-size: 14px;
    font-style: revert;
    font-weight: bolder;
    text-decoration: none;
    text-shadow: white 0px 0px 10px,
    red 0px 0px 10px,
    #31ef12 0px 5px 10px,
    #e2be0f 4px 0px 10px;
}
.td{
    height: 70px;
}
.tr {
    align: top;
    text-align: center;
}
.tddlina {
    align: top;
    text-align: center;
}

.form {
    color: #9d6c0f;
    font-family: "Comic Sans MS", "Courier New", "Times New Roman";
    font-size: 18px;
    font-style: revert;
    font-weight: bolder;
    text-decoration: none;
    text-shadow: white 0px 0px 10px,
    red 0px 0px 10px,
    #31ef12 0px 5px 10px,
    #e2be0f 4px 0px 10px;
}

.adres {
    color: #964b09;
    font-family: "Comic Sans MS", "Courier New", "Times New Roman";
    font-size: 14px;
    font-style: revert;
    font-weight: bolder;
    text-decoration: none;
    text-shadow: white 0px 0px 10px,
    red 0px 0px 10px,
    #19de99 0px 0px 10px;
}

.nizmenu {
    color: #ac5f04;
    font-family: "Comic Sans MS", "Courier New", "Times New Roman";
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
    text-shadow: wheat 0px 0px 10px,
    red 0px 0px 10px,
    #19de99 0px 0px 10px;
    margin: 160px;
}

.nizmenu:hover {
    color: #18dec8;
}

.katalog {
    color: black;
    font-family: Rockwell, "Courier New", "Times New Roman";
    font-size: 29px;
    font-style: revert;
    font-weight: bolder;
    text-shadow: white 0px 0px 10px,
    red 0px 0px 10px,
    #19de99 0px 0px 10px;
    margin: 0;
    padding: 0;
}

.tovar {
    color: #580aa5;
    font-family: Rockwell, "Courier New", "Times New Roman";
    font-size: 25px;
    font-style: revert;
    font-weight: bolder;
    text-shadow: white 0px 0px 10px,
    red 0px 0px 10px,
    #19de99 0px 0px 10px;
    display: flex;
    justify-content: center;
}

.totovar {
    color: #240779;
    font-family: "Comic Sans MS", "Courier New", "Times New Roman";
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
    text-shadow: white 0px 0px 10px,
    red 0px 0px 10px,
    #19de99 0px 0px 10px;
    padding: 0 0 0 100px;
}

.totovar:hover {
    color: #1eeacb;
}

.tovarcena {
    color: #ee0c0c;
    font-family: Rockwell, "Courier New", "Times New Roman";
    font-size: 30px;
    font-style: revert;
    font-weight: bolder;
    text-shadow: black 0px 0px 10px,
    red 0px 0px 10px,
    #19de99 0px 0px 10px;
    margin: -40px 0 0 0;
    padding: 0;
}

.oryjie {
    font-family: "Book Antiqua", "Courier New", "Times New Roman";
    color: #9d550f;
    text-shadow: yellow 0px 0px 10px,
    red 0px 0px 10px,
    #19de99 0px 0px 10px;
}
.container{
    width: 100%;
    margin: 0 auto;
}
.logo, .nazvanie{
    padding: 0 30px;
}
.header{
    height: 300px;
    background: url("https://rycar.by/images/fotostati/oruzhie/rekvizit-85.jpg") no-repeat;
    background-size: cover;
}
.map{
    width: 100%;
    height: 374px;
}
hr{
    padding: 0;
    margin: 0;
}
.zagolovok_kratko{
    display: flex;
    width: 100%;
    height: 400px;
    flex-direction: row-reverse;
}
.buy{
    display: flex;

}
.button{
    background: darkgray;
    border:none;
    width: 240px;
    margin: -40px 0 0 50px;
    color: #240779;
    font-family: Forte, Georgia, "Times New Roman";
    font-size: 18px;
    font-weight: bolder;
    text-shadow: white 0px 0px 10px,
    red 0px 0px 10px,
    #19de99 0px 0px 10px;
    border-radius: 40px;
}
.button:hover{
    background: #ebf121;
    color:red;
    cursor: pointer;
}
.button:focus{
    outline: none;
    color:green;
    border-radius: 40px;
    background-color: yellow;
}
.katalog_block{
    display: flex;
    justify-content: center;
}
.mech_img{
    padding: 0 20px;
}
.bylava_img{
    padding: 0 20px;
}
.kinjal_img{
    padding: 0 20px;
}
