@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

@mixin ico_p() {
  font-family: Poppins;
  font-size: 18px;
  line-height: 80px;
  font-weight: 500;
  text-transform: uppercase;
}

@mixin headers_blocks_position() {
  padding: 142px 0 0 0;
  text-align: center;
}

@mixin headers_blocks_h2() {
  font-family: 'Libre Baskerville';
  font-size: 50px;
  line-height: 80px;
  font-weight: 700;
  color: #313131;
  margin: 0;
}

@mixin headers_blocks_p() {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 60px;
  font-weight: 400;
  color: #616161;
  margin: 0;
}

@mixin table_colors() {
  .table th:nth-child(1) {
    background: $color-red;
    width: 25%;
  }

  .table th:nth-child(2) {
    background: $color-green;
    width: 25%;
  }

  .table th:nth-child(3) {
    background: $color-purple;
    width: 25%;
  }

  .table th:nth-child(4) {
    background: $color-orange;
    width: 25%;
  }
}

@mixin tm_blocks() {
  position: relative;
  width: 263px;
  height: 350px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
}

@mixin tm_blocks_p() {
  margin: 0;
  bottom: 34px;
  width: 100%;
  text-align: center;
  position: absolute;
  font-family: Poppins, sans-serif;
  font-size: 18.3px;
  font-weight: 500;
}

@mixin quote_blocks() {
  position: absolute;
  top: 400px;
  display: flex;
  align-self: flex-end;
  width: 1140px;
  height: 331px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  opacity: 0;
  transition: opacity .5s;
}

@mixin quote_blocks_before() {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  top: -30px;
  border: 35px solid;
  transform: rotate(45deg);
  border-color: #ffffff transparent transparent #ffffff;
}

@mixin tm_blocks_comm_target() {
  opacity: 1;
  z-index: 20;
}

@mixin quote_social_links() {
  text-decoration: none;
  color: #616161;
  padding-left: 20px;
}

@mixin quote_social_links_hover() {
  text-shadow: 0 0 20px black;
}

@mixin circle_stat_block() {
  width: 10px;
  height: 11px;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 30px;
  border: 3px solid;
}

@mixin work_text() {
  position: absolute;
  width: 458px;
  height: 301px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  z-index: 2;
  bottom: 50px;
  padding-top: 73px;
  padding-left: 125px;
  box-sizing: border-box;
}

@mixin work_text_h3() {
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 25px;
  line-height: 1.2;
  font-weight: 400;
  color: #272727;
}

@mixin work_text_p {
  width: 270px;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
  color: #616161;
}

@mixin buy_packs_blocks {
  position: relative;
  width: 360px;
  height: 575px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
}

@mixin buy_packs_circle {
  position: absolute;
  left: 130px;
  width: 99px;
  height: 99px;
  border-radius: 50%;
  border: 3px solid #ffffff;
}

@mixin buy_packs_but_active() {
  box-shadow: none;
  color: #ffffff;
}

@mixin buttons_pricing() {
  width: 180px;
  height: 50px;
  background-color: rgba(56, 198, 149, 0.0);
  border-radius: 25px;
  margin-left: 90px;
  margin-top: 10px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

@mixin testi_blocks() {
  display: flex;
  position: relative;
  margin-top: -498px;
  opacity: 0;
}

@mixin testi_photo_pos() {
  width: 384px;
  height: 399px;
  border: 10px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  margin-left: 390px;
  margin-top: 79px;
}

@mixin sec_news() {
  box-sizing: border-box;
  width: 555px;
  height: 210px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  padding: 30px 60px 0 38px;
  margin-bottom: 23px;
}

@mixin sec_news_name() {
  display: block;
  margin: 0;
  font-family: Poppins;
  font-size: 15px;
  line-height: 35px;
  font-weight: 500;
  text-transform: uppercase;
}

@mixin sec_news_data {
  margin: 0 0 0 20px;
  opacity: 0.7;
  font-family: Poppins;
  font-size: 13px;
  line-height: 35px;
  font-weight: 400;
  color: #616161;
  text-transform: lowercase;
}

@mixin sec_news_header {
  margin: 0;
  font-family: Poppins;
  font-size: 18px;
  line-height: 35px;
  font-weight: 500;
  color: #272727;
}

@mixin sec_news_text {
  margin: 5px 0 0 0;
  font-family: Poppins;
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
  color: #616161;
}

@mixin sec_news_text_a {
  text-decoration: none;
  margin: 0;
  font-family: Poppins;
  font-size: 15px;
  line-height: 27px;
  font-weight: bolder;
}

@mixin contact_input {
  position: absolute;
  width: 360px;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #efefef;
  border-radius: 4px;
  font-family: Poppins;
  font-size: 16px;
  line-height: 80px;
  font-weight: 400;
  color: #616161;
}

@mixin contact_input_focus {
  outline: none;
  box-shadow: 0 0 2px 3px white;
}

$color-red: #fc5f45;
$color-green: #38c695;
$color-purple: #b27cf5;
$color-orange: #feb960;

html, body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  width: 1920px;
  cursor: default;
}

.header {
  padding: 0 390px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: #ffffff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.25);
}

.header_menu {
  display: flex;
  width: 750px;
  justify-content: space-between;
  list-style-type: none;
  margin-left: 327px;
  padding-left: 0;
}

.header_menu_a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 27px;
  font-weight: 500;
  color: #272727;
}

.header_menu_a:hover {
  text-shadow: 0 0 15px black;
  color: orange;
}

.header_menu_a:active {
  text-shadow: 0 0 15px black,
  0 0 15px black;
  color: green;
}

.our_works {
  display: flex;
  flex-direction: column;
  height: 850px;
  background: url("../images/our_works_fon.jpg");
}

.dark_block {
  height: 850px;
  background: rgba(0, 0, 0, .5);
}

.our_works_h1 {
  margin: 0;
  text-align: center;
  align-self: center;
  font-family: 'Libre Baskerville';
  font-size: 60px;
  line-height: 85px;
  font-weight: 400;
  color: #ffffff;
  padding-top: 175px;
}

.our_works_button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 180px;
  height: 50px;
  background-color: $color-red;
  border-radius: 25px;
  font-family: Poppins;
  font-size: 16px;
  line-height: 80px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  margin: 45px 0 5px 870px;
}

.our_works_button:hover {
  cursor: pointer;
  box-shadow: 0 2px 25px 10px orange;
}

.our_works_button:active {
  margin: 45px 0 5px 872px;
  box-shadow: 0 0 25px 10px orange;
  color: yellow;
}

.our_works_ico {
  display: flex;
  justify-content: space-between;
  margin-top: 102px;
  padding-left: 616px;
  padding-right: 561px;
}

.ico1_p {
  @include ico_p();
  color: $color-green;
}

.ico2_p {
  @include ico_p();
  color: $color-purple;
}

.ico3_p {
  @include ico_p();
  color: $color-orange;
}

.ico1, .ico2, .ico3 {
  display: flex;
  flex-direction: column;
}

.ico1_img, .ico2_img, .ico3_img {
  margin: 0;
  align-self: center;
}

.ico1_p, .ico2_p, .ico3_p {
  margin: 0;
  padding: 0;
}

.about_us_main {
  display: flex;
  height: 1000px;
  background-color: #ffffff;
}

.about_us_main_img {
  width: 555px;
  height: 700px;
  background-image: linear-gradient(0.0deg, rgba(252, 95, 69, 0.29) 0%, rgba(0, 0, 0, 0.0) 100%);
  border: 10px solid rgba(0, 0, 0, 0.2);
  margin-top: 149px;
  margin-left: 390px;
  z-index: 1;
}

.about_us_text {
  position: relative;
  width: 652px;
  height: 550px;
  background-color: #ffffff;
  margin-top: 229px;
  left: -67px;
  z-index: 2;
  padding: 74px 0 0 0;
  box-sizing: border-box;
}

.about_us_text_h2 {
  @include headers_blocks_h2();
  margin-left: 75px;
}


.about_us_text_p {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
  color: #616161;
  margin: 20px 0 0 75px;
  width: 495px;
}

.about_us_text_line {
  position: absolute;
  width: 652px;
  bottom: 0;
}

.table {
  border-spacing: 0;
  width: 100%;
  height: 3px;
  margin: 0;
  padding: 0;
}

@include table_colors();

.our_focus {
  height: 824px;
  background-color: #f7f7f7;
}

.our_focus_text {
  @include headers_blocks_position();
}

.our_focus_text_h2 {
  @include headers_blocks_h2();
}

.our_focus_text_p {
  @include headers_blocks_p();
}

.our_focus_blocks {
  display: flex;
  justify-content: center;
}

.web_block, .ux_block, .photo_block, .app_block {
  width: 263px;
  height: 350px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  margin-right: 30px;
  margin-top: 79px;
}

.our_focus_blocks_a {
  display: flex;
  height: 100%;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #313131;
}

.web_block {
  border-bottom: 3px solid $color-red;
  position: relative;
}

.ux_block {
  border-bottom: 3px solid $color-green;
  position: relative;
}

.photo_block {
  border-bottom: 3px solid $color-purple;
  position: relative;
}


.app_block {
  border-bottom: 3px solid $color-orange;
  position: relative;
}


.web_block_img, .ux_block_img, .photo_block_img, .app_block_img {
  position: absolute;
  top: 66px;
  left: 110px;
}

.web_block_h3, .ux_block_h3, .photo_block_h3, .app_block_h3 {
  position: absolute;
  margin: 0;
  top: 138px;
  width: 100%;
  text-align: center;
}

.web_block_p, .ux_block_p, .photo_block_p, .app_block_p {
  position: absolute;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #616161;
  text-align: center;
  bottom: 67px;
  left: 15px;
}

.web_block:hover, .ux_block:hover, .photo_block:hover, .app_block:hover {
  box-shadow: 0 1px 5px 15px white;
}

.web_block:active {
  box-shadow: 0 1px 5px 15px $color-red;

}

.ux_block:active {
  box-shadow: 0 1px 5px 15px $color-green;
}

.photo_block:active {
  box-shadow: 0 1px 5px 15px $color-purple;
}

.app_block:active {
  box-shadow: 0 1px 5px 15px $color-orange;
}

.explore_our {
  height: 500px;
}

.explore_our_video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.portfolio {
  height: 1385px;
  background-color: #ffffff;
}

.portfolio_text {
  @include headers_blocks_position();
}

.portfolio_text_h2 {
  @include headers_blocks_h2();
}

.portfolio_text_p {
  @include headers_blocks_p();
}

.portfolio_blocks {
  padding: 80px 399px 149px 399px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio_blocks_a {
  width: 360px;
  height: 288px;
  margin-bottom: 23px;
  display: inline-block;
}

.project_one {
  width: 360px;
  height: 288px;
  margin-bottom: 23px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.project_one_hover {
  position: absolute;
  width: 360px;
  height: 64px;
  bottom: -50px;
  opacity: 0;
  background-color: #ffffff;
  font-family: Poppins;
  font-size: 18px;
  line-height: 64px;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #313131;
  transition: opacity .5s, bottom 1s;
  z-index: 2;
}

.project_one:hover .project_one_hover {
  opacity: 1;
  bottom: 0;
  overflow: hidden;
}

.pluskrug_ico_hover {
  position: absolute;
  opacity: 1;
  left: 150px;
  top: -60px;
  transition: top 1s;
  z-index: 2;
}

.project_one:hover .pluskrug_ico_hover {
  opacity: 1;
  top: 80px;
  overflow: hidden;
}


.project_one_line {
  position: absolute;
  width: 360px;
  top: 0;
}

.table {
  border-spacing: 0;
  width: 100%;
  height: 3px;
  margin: 0;
  padding: 0;
}

@include table_colors();

.our_team {
  height: 1226px;
  background-color: #f7f7f7;
}

.our_team_text {
  @include headers_blocks_position();
}

.our_team_text_h2 {
  @include headers_blocks_h2();
}

.our_team_text_p {
  @include headers_blocks_p();
}

.our_team_main {
  padding: 78px 390px 0 390px;
}


.our_team_blocks {
  display: flex;
  justify-content: space-between;
}

.tm_block1 {
  @include tm_blocks();
  border-bottom: 3px solid $color-red;
}

.tm_block1_p {
  @include tm_blocks_p();
  color: $color-red;
}

.tm_block2 {
  @include tm_blocks();
  border-bottom: 3px solid $color-green;
}

.tm_block2_p {
  @include tm_blocks_p();
  color: $color-green;
}

.tm_block3 {
  @include tm_blocks();
  border-bottom: 3px solid $color-purple;
}

.tm_block3_p {
  @include tm_blocks_p();
  color: $color-purple;
}

.tm_block4 {
  @include tm_blocks();
  border-bottom: 3px solid $color-orange;
}

.tm_block4_p {
  @include tm_blocks_p();
  color: $color-orange;
}

.tm_block1_img, .tm_block2_img, .tm_block3_img, .tm_block4_img {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  width: 253px;
  height: 270px;
}

.tm_block1_span, .tm_block2_span, .tm_block3_span, .tm_block4_span {
  margin: 0;
  bottom: 15px;
  width: 100%;
  text-align: center;
  position: absolute;
  font-family: Poppins, sans-serif;
  font-size: 13.2px;
  font-weight: 400;
  color: #616161;
}

.tm_block1:hover, .tm_block2:hover, .tm_block3:hover, .tm_block4:hover {
  box-shadow: 0 1px 5px 15px white;
}

.tm_block1:active {
  box-shadow: 0 1px 5px 15px $color-red;
}

.tm_block2:active {
  box-shadow: 0 1px 5px 15px $color-green;
}

.tm_block3:active {
  box-shadow: 0 1px 5px 15px $color-purple;
}

.tm_block4:active {
  box-shadow: 0 1px 5px 15px $color-orange;
}

.quote_blocks1 {
  @include quote_blocks();
}

.quote_blocks1:before {
  @include quote_blocks_before();
  left: 100px;
}

.tm_block1_comm:target ~ .quote_blocks1 {
  @include tm_blocks_comm_target();
}

.quote_blocks2 {
  @include quote_blocks();
  left: -292px;
}

.quote_blocks2:before {
  @include quote_blocks_before();
  left: 395px;
}

.tm_block2_comm:target ~ .quote_blocks2 {
  @include tm_blocks_comm_target();
}

.quote_blocks3 {
  @include quote_blocks();
  right: -292px;
}

.quote_blocks3:before {
  @include quote_blocks_before();
  left: 685px;
}

.tm_block3_comm:target ~ .quote_blocks3 {
  @include tm_blocks_comm_target();
}

.quote_blocks4 {
  @include quote_blocks();
  right: 0;
}

.quote_blocks4:before {
  @include quote_blocks_before();
  right: 100px;
}

.tm_block4_comm:target ~ .quote_blocks4 {
  @include tm_blocks_comm_target();
}


.quote_blocks_h3 {
  margin: 0;
  padding-top: 27px;
  padding-left: 98px;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  line-height: 60px;
  font-weight: 500;
  color: #272727;
}

.quote_blocks_p {
  margin: 0;
  padding-left: 98px;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
  color: #616161;
  width: 650px;
}

.social_a_ico {
  width: 36px;
  height: 36px;
  align-self: center;
  margin-left: 95px;
}

.social_a_ico:hover {
  box-shadow: 0 0 4px 2px $color-orange;
}

.line {
  align-self: center;
  margin-left: 34px;
  border-right: 2px solid #efefef;
  height: 151px;
}

.social_links {
  align-self: center;
}

.social_links_ul {
  padding-left: 25px;
}

.social_links_li {
  list-style-type: none;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  color: #616161;
}

.a_fb {
  @include quote_social_links();
  background: url("../images/our_team_fb.png") no-repeat 0 4px;

}

.a_fb:hover {
  @include quote_social_links_hover();
}

.a_tw {
  @include quote_social_links();
  background: url("../images/our_team_twit.png") no-repeat 0 4px;
}

.a_tw:hover {
  @include quote_social_links_hover();
}

.a_ld {
  @include quote_social_links();
  background: url("../images/our_team_linkd.png") no-repeat 0 4px;
}

.a_ld:hover {
  @include quote_social_links_hover();
}

.a_in {
  @include quote_social_links();
  background: url("../images/our_team_inst.png") no-repeat 0 4px;
}

.a_in:hover {
  @include quote_social_links_hover();
}

.stat_block {
  display: flex;
  padding: 147px 496px 0 496px;
  justify-content: space-between;
  height: 464px;
  box-sizing: border-box;
  background: url("../images/stat_fon.png");
}


.stat_block_p {
  margin: 0 0 0 -5px;
  font-family: Poppins, sans-serif;
  font-size: 20.1px;
  line-height: 80px;
  font-weight: 500;
  color: #fefefe;
}

.clients_p {
  margin: 0 0 0 -5px;
  font-family: Poppins, sans-serif;
  font-size: 20.1px;
  line-height: 75px;
  font-weight: 500;
  color: #fefefe;
}

.feedbacks_p {
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 20.1px;
  line-height: 82px;
  font-weight: 500;
  color: #fefefe;
}

.stat_block_span {
  opacity: 0.7;
  font-family: Poppins, sans-serif;
  font-size: 15.1px;
  font-weight: 400;
  color: #fefefe;
  margin-left: -40px;
}

.clients_span {
  opacity: 0.7;
  font-family: Poppins, sans-serif;
  font-size: 15.1px;
  font-weight: 400;
  color: #fefefe;
  margin: 0 0 0 -35px;
}

.circle_stat {
  @include circle_stat_block();
  background-color: $color-red;
  box-shadow: 0 0 0 1px $color-red;
}

.circle_clients {
  @include circle_stat_block();
  background-color: $color-green;
  box-shadow: 0 0 0 1px $color-green;
}

.circle_feedbacks {
  @include circle_stat_block();
  background-color: $color-purple;
  box-shadow: 0 0 0 1px $color-purple;
}

.circle_freebies {
  @include circle_stat_block();
  background-color: $color-orange;
  box-shadow: 0 0 0 1px $color-orange;
}

.work_steps {
  display: flex;
  flex-direction: column;
  height: 1726px;
  background-color: #ffffff;
}

.work_steps_text {
  @include headers_blocks_position();
}

.work_steps_text_h2 {
  @include headers_blocks_h2();
}

.work_steps_text_p {
  @include headers_blocks_p();
}

.work_photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 128px;
}

.photo1, .photo2, .photo3, .photo4 {
  width: 556px;
  height: 300px;
  position: relative;
  z-index: 1;
}

.photo1 {
  background: url("../images/work_photo1.jpg");
}

.photo2 {
  background: url("../images/work_photo2.jpg");
}

.photo3 {
  background: url("../images/work_photo3.jpg");
}

.photo4 {
  background: url("../images/work_photo4.jpg");
}

.work_text1 {
  @include work_text();
  left: -300px;
  border-bottom: 3px solid $color-red;
}

.work_text1_h3 {
  @include work_text_h3();
}

.work_text1_p {
  @include work_text_p();
}

.work_text2 {
  @include work_text;
  right: -300px;
  border-bottom: 3px solid $color-green;
}

.work_text2_h3 {
  @include work_text_h3();
}

.work_text2_p {
  @include work_text_p();
}

.work_text3 {
  @include work_text();
  left: -300px;
  border-bottom: 3px solid $color-purple;
}

.work_text3_h3 {
  @include work_text_h3();
}

.work_text3_p {
  @include work_text_p();
}

.work_text4 {
  @include work_text();
  right: -300px;
  border-bottom: 3px solid $color-orange;
}

.work_text4_h3 {
  @include work_text_h3();
}

.work_text4_p {
  @include work_text_p();
}

.pricing {
  height: 1049px;
  background-color: #f7f7f7;
}

.pricing_text {
  @include headers_blocks_position();
}

.pricing_text_h2 {
  @include headers_blocks_h2();
}

.pricing_text_p {
  @include headers_blocks_p();
}

.buy_packs {
  display: flex;
  padding: 77px 390px 0 390px;
  justify-content: space-between;
}

.buy_packs_h3 {
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  line-height: 80px;
  font-weight: 500;
  color: #313131;
  text-align: center;
}

.price_p {
  margin: 25px 0 0 0;
  text-align: center;
  font-family: Poppins;
  font-size: 25px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
}

.price_p2 {
  margin: 10px 0 0 0;
  text-align: center;
  font-family: Poppins;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
}

.starter {
  @include buy_packs_blocks();
  border-top: 3px solid $color-green;
}


.circle_starter {
  @include buy_packs_circle();
  left: 127px;
  background-color: $color-green;
  box-shadow: 0 0 0 3px $color-green;
}

.but_starter {
  @include buttons_pricing();
  border: 2px solid $color-green;
  color: $color-green;
}

.but_starter:hover {
  box-shadow: 0 0 5px 3px $color-green;
}

.but_starter:active {
  @include buy_packs_but_active();
  background-color: $color-green;
}

.ultimate {
  @include buy_packs_blocks();
  border-top: 3px solid $color-red;
}

.circle_ultimate {
  @include buy_packs_circle();
  background-color: $color-red;
  box-shadow: 0 0 0 3px $color-red;
}


.but_ultimate {
  @include buttons_pricing();
  border: 2px solid $color-red;
  color: $color-red;

}

.but_ultimate:hover {
  box-shadow: 0 0 5px 3px $color-red;
}

.but_ultimate:active {
  @include buy_packs_but_active();
  background-color: $color-red;
}

.prof {
  @include buy_packs_blocks();
  border-top: 3px solid $color-purple;
}

.circle_prof {
  @include buy_packs_circle();
  background-color: $color-purple;
  box-shadow: 0 0 0 3px $color-purple;
}

.but_prof {
  @include buttons_pricing();
  border: 2px solid $color-purple;
  color: $color-purple;
}

.but_prof:hover {
  box-shadow: 0 0 5px 3px $color-purple;
}

.but_prof:active {
  @include buy_packs_but_active();
  background-color: $color-purple;
}

.buy_packs_span {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  line-height: 40px;
  font-weight: bolder;
  color: #272727;
}

.pluses_p {
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  line-height: 40px;
  font-weight: 400;
  color: #616161;
  margin-top: 140px;
}

.starter:hover, .ultimate:hover, .prof:hover {
  box-shadow: 0 1px 5px 10px white;
}

.testimonials {
  height: 874px;
  background-color: rgba(38, 39, 50, 0.85);
}

.testimonials_text {
  @include headers_blocks_position();
}

.testimonials_text_h2 {
  @include headers_blocks_h2();
  color: #ffffff;
}

.testimonials_text_p {
  @include headers_blocks_p();
  color: #ffffff;
}


.testi_block1 {
  display: flex;
  position: relative;
  opacity: 1;
}

.testi_block2 {
  @include testi_blocks();
}

.testi_block3 {
  @include testi_blocks();
}

.testi_block4 {
  @include testi_blocks();
}

.testi_block5 {
  @include testi_blocks();
}

.testi_block6 {
  @include testi_blocks();
}

.testi_block1:target, .testi_block2:target, .testi_block3:target, .testi_block4:target, .testi_block5:target, .testi_block6:target {
  opacity: 1;
}

.testi_photo1 {
  @include testi_photo_pos();
  background: url("../images/testi_photo1.jpg");
  background-size: 379px 520px;
  background-position-x: 5px;
}


.testi_photo2 {
  @include testi_photo_pos();
  background: url("../images/testi_photo2.jpg");
  background-size: 394px 520px;
  background-position-y: -35px;
}

.testi_photo3 {
  @include testi_photo_pos();
  background: url("../images/testi_photo3.jpg") 10px -10px;
  background-size: 374px 520px;
}

.testi_photo4 {
  @include testi_photo_pos();
  background: url("../images/testi_photo4.jpg") 5px 2px;
  background-size: 384px 520px;
}

.testi_photo5 {
  @include testi_photo_pos();
  background: url("../images/testi_photo5.jpg") 0 -40px;
  background-size: 394px 520px;
}

.testi_photo6 {
  @include testi_photo_pos();
  background: url("../images/testi_photo6.jpg") 5px -5px;
  background-size: 389px 520px;
}

.testi_text1 {
  position: absolute;
  right: 305px;
  margin: 113px 0 0 0;
  width: 822px;
  height: 312px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  border-bottom: 3px solid $color-red;
  z-index: 1;
}

.kov_fon {
  margin: 0;
  left: 17px;
  position: absolute;
  opacity: 0.3;
  font-family: 'Libre Baskerville';
  font-size: 337.6px;
  line-height: 325px;
  font-weight: 700;
  color: #e0e0e0;
  z-index: 2;
}

.testi_text1_main {
  position: absolute;
  margin: 0;
  width: 650px;
  top: 40px;
  left: 60px;
  font-family: Poppins;
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
  color: #616161;
  z-index: 3;
}

.testi_text1_span {
  position: absolute;
  margin: 0;
  bottom: 70px;
  left: 60px;
  font-family: Sacramento, cursive;
  font-size: 40px;
  line-height: 80px;
  font-weight: 400;
  color: #272727;
}

.testi_text1_span2 {
  position: absolute;
  margin: 0;
  bottom: 30px;
  left: 60px;
  font-family: Poppins;
  font-size: 18px;
  line-height: 80px;
  font-weight: bolder;
  color: #272727;
}

.testi_text1_span3 {
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 60px;
  font-family: Poppins;
  font-size: 13px;
  line-height: 80px;
  font-weight: 400;
  color: $color-red;
}

.testi_switch {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: -35px;
  margin-right: 298px;
}

.circle_testi {
  left: 170px;
  width: 16px;
  height: 16px;
  box-shadow: 0 0 0 1px #ffffff;
  border-radius: 50%;
  margin-right: 10px;
}

.circle_testi:hover {
  width: 10px;
  height: 10px;
  background-color: $color-red;
  border: 3px solid rgba(38, 39, 50, 0.85);
  box-shadow: 0 0 0 1px $color-red;
  cursor: pointer;
  transition: background-color .3s, box-shadow .3s;
}

.circle_testi:active {
  box-shadow: 0 0 3px 3px $color-red;
  transition: box-shadow 0s;
}

.testi_block1:target ~ .testi_switch a[href="#testi_block1"],
.testi_block2:target ~ .testi_switch a[href="#testi_block2"],
.testi_block3:target ~ .testi_switch a[href="#testi_block3"],
.testi_block4:target ~ .testi_switch a[href="#testi_block4"],
.testi_block5:target ~ .testi_switch a[href="#testi_block5"],
.testi_block6:target ~ .testi_switch a[href="#testi_block6"] {
  width: 10px;
  height: 10px;
  background-color: $color-red;
  border: 3px solid rgba(38, 39, 50, 0.85);
  box-shadow: 0 0 0 1px $color-red;
  cursor: pointer;
  transition: background-color .3s, box-shadow .3s;
}

.why_us {
  height: 1050px;
  background-color: #ffffff;
}

.why_us_text {
  @include headers_blocks_position();
}

.why_us_text_h2 {
  @include headers_blocks_h2();
}

.why_us_text_p {
  @include headers_blocks_p();
}

.why_us_blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 78px 426px 0 414px;
}

.bg, .ur, .up {
  margin-bottom: 73px;
}

.why_us_blocks_img {
  float: left;
  margin-right: 15px;
}

.block_name {
  margin: -5px 0 0 0;
  font-family: Poppins;
  font-size: 18px;
  line-height: 26px;
  font-weight: bolder;
  color: #272727;
}

.block_text {
  width: 320px;
  margin: 0;
  font-family: Poppins;
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
  color: #616161;
}

.start_jorney {
  margin: 154px 0 0 0;
  text-align: center;
  font-family: Poppins;
  font-size: 25px;
  line-height: 26px;
  font-weight: 400;
  color: #272727;
}

.but_why_us {
  width: 180px;
  height: 50px;
  background-color: $color-red;
  border: 2px solid $color-red;
  border-radius: 25px;
  margin-left: 24px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  color: #ffffff;
}

.but_why_us:hover {
  box-shadow: 0 0 5px 3px $color-red;
}

.but_why_us:active {
  box-shadow: none;
  background-color: #ffffff;
  color: $color-red;
}

.our_blog {
  height: 1151px;
  background-color: #f7f7f7;
}

.our_blog_text {
  @include headers_blocks_position();
}

.our_blog_text_h2 {
  @include headers_blocks_h2();
}

.our_blog_text_p {
  @include headers_blocks_p();
}

.blog_blocks {
  display: flex;
  padding: 77px 390px 150px 390px;
}

.main_news {
  margin: 0 30px 0 0;
  padding: 397px 55px 0 50px;
  box-sizing: border-box;
  width: 555px;
  height: 675px;
  background-image: url('../images/blog_news_photo.jpg');
  background-size: 555px 443px;
  background-repeat: no-repeat;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  border-bottom: 3px solid $color-red;
}

.main_news_name {
  display: block;
  margin: 0;
  font-family: Poppins;
  font-size: 15px;
  line-height: 35px;
  font-weight: 500;
  text-transform: uppercase;
  color: $color-red;
}

.main_news_data {
  margin: 0 0 0 20px;
  opacity: 0.7;
  font-family: Poppins;
  font-size: 13px;
  line-height: 35px;
  font-weight: 400;
  color: #ffffff;
  text-transform: lowercase;
}

.letter_d {
  text-transform: uppercase;
}

.main_news_header {
  margin: 40px 0 0 0;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  color: #272727;
}

.main_news_text {
  margin: 24px 0 0 0;
  font-family: Poppins;
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
  color: #616161;
}

.main_news_text_a {
  text-decoration: none;
  margin: 0;
  font-family: Poppins;
  font-size: 15px;
  line-height: 27px;
  font-weight: bolder;
  color: #272727;
}

.main_news_text_a:hover {
  text-shadow: 0 0 1px black;
}

.sec_news1 {
  @include sec_news();
  border-bottom: 3px solid $color-green;
}

.sec_news1_name {
  @include sec_news_name();
  color: $color-green;
}

.sec_news1_data, .sec_news2_data, .sec_news3_data {
  @include sec_news_data();
}

.letter_d_sec {
  text-transform: uppercase;
}

.sec_news1_header, .sec_news2_header, .sec_news3_header {
  @include sec_news_header();
}

.sec_news1_text, .sec_news2_text, .sec_news3_text {
  @include sec_news_text();
}

.sec_news1_text_a {
  @include sec_news_text_a();
  color: $color-green;
}

.sec_news1_text_a:hover {
  text-shadow: 0 0 1px $color-green;
}

.sec_news2 {
  @include sec_news();
  border-bottom: 3px solid $color-purple;
}

.sec_news2_name {
  @include sec_news_name();
  color: $color-purple;
}

.sec_news2_text_a {
  @include sec_news_text_a();
  color: $color-purple;
}

.sec_news2_text_a:hover {
  text-shadow: 0 0 1px $color-purple;
}

.sec_news3 {
  @include sec_news();
  border-bottom: 3px solid $color-orange;
}

.sec_news3_name {
  @include sec_news_name();
  color: $color-orange;
}

.sec_news3_text_a {
  @include sec_news_text_a();
  color: $color-orange;
}

.sec_news3_text_a:hover {
  text-shadow: 0 0 1px $color-orange;
}

.subscribe {
  height: 425px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe_h3 {
  text-align: center;
  padding-top: 118px;
  margin: 0;
  font-family: Poppins;
  font-size: 30px;
  line-height: 85px;
  font-weight: 400;
  color: #272727;
}

.subscribe_form {
  position: relative;
  width: 480px;
  margin-top: 30px;
}

.subscribe_email {
  position: absolute;
  width: 265px;
  height: 50px;
  background-color: #f7f7f7;
  border: 2px solid #efefef;
  border-radius: 25px 0 0 25px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #616161;
  padding-left: 30px;
  padding-right: 20px;
  box-sizing: border-box;
  left: 38px;
  top: 0;
  margin: 0;
}

.subscribe_email:focus {
  outline: none;
  box-shadow: 0 0 2px 3px $color-red;
}

.subscribe_submit {
  position: absolute;
  left: 300px;
  width: 180px;
  height: 50px;
  background-color: $color-red;
  border-radius: 0 25px 25px 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  margin: 0;
}

.subscribe_submit:hover {
  box-shadow: 0 0 5px 3px $color-red;
  cursor: pointer;
}

.subscribe_submit:active {
  box-shadow: 0 0 7px 4px $color-red;
  color: yellow;
}

.footer {
  display: flex;
  flex-direction: column;
  height: 1278px;
  background-color: lightgray;
}

.contact_text {
  @include headers_blocks_position();
}

.contact_text_h2 {
  @include headers_blocks_h2();
}

.contact_text_p {
  @include headers_blocks_p();
}

.form_footer_block {
  display: flex;
  margin: 68px 575px 0 575px;
  box-sizing: border-box;
  position: relative;
}

.input_name {
  @include contact_input();
}

.input_email {
  @include contact_input();
  right: 0;
}

.input_subj {
  @include contact_input();
  top: 84px;
}

.input_proj {
  @include contact_input();
  top: 84px;
  right: 0;
}

.input_name::-webkit-input-placeholder,
.input_email::-webkit-input-placeholder,
.input_subj::-webkit-input-placeholder,
.input_proj::-webkit-input-placeholder {
  text-align: center;
}

.input_name:focus,
.input_email:focus,
.input_subj:focus,
.input_proj:focus {
  @include contact_input_focus();
}

.input_textarea {
  position: absolute;
  top: 160px;
  width: 765px;
  height: 200px;
  background-color: #ffffff;
  border: 1px solid #efefef;
  border-radius: 4px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #616161;
  resize: none;
}

.input_textarea::-webkit-input-placeholder {
  text-align: center;
  padding: 15px;
}

.input_textarea:focus {
  outline: none;
  box-shadow: 0 0 2px 3px white;
}

.send_submit {
  position: absolute;
  top: 430px;
  left: 276px;
  width: 180px;
  height: 50px;
  background-color: $color-red;
  border: 2px solid $color-red;
  border-radius: 25px;
  margin-left: 24px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
}


.send_submit:hover {
  box-shadow: 0 0 5px 3px $color-red;
}

.send_submit:active {
  box-shadow: none;
  background-color: #ffffff;
  color: $color-red;
}

.contacts_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1139px;
  height: 225px;
  background-color: rgba(38, 39, 50, 0.85);
  margin-left: 390px;
  margin-top: 599px;
}

.contacts_block_line {
  position: absolute;
  width: 1139px;
  bottom: 0;
}

.table {
  border-spacing: 0;
  width: 100%;
  height: 3px;
  margin: 0;
  padding: 0;
}

@include table_colors();

.alexis_contacts {
  margin-left: 61px;
}

.alexis_llc {
  margin-left: 60px;
}

.alexis_llc_p1 {
  font-family: Poppins;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: $color-green;
}

.alexis_llc_p2 {
  font-family: Poppins;
  line-height: 27px;
  font-size: 16px;
  font-weight: 400;
  color: #fef4f2;
  width: 230px;
}

.alexis_llc_uk_p1 {
  font-family: Poppins;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: $color-purple;
}

.alexis_llc_uk_p2 {
  font-family: Poppins;
  line-height: 27px;
  font-size: 16px;
  font-weight: 400;
  color: #fef4f2;
  width: 250px;
}

.follow_us {
  margin-right: 43px;
}

.alexis_follow_us_p1 {
  margin-bottom: 25px;
  margin-top: -15px;
  font-family: Poppins;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: $color-orange;
}

.follow_a {
  display: inline-block;
  width: 30px;
  height: 31px;
  margin-right: 15px;
}

.follow_a:hover {
  box-shadow: 0 0 2px 3px #ffffff;
  border-radius: 5px;
}

.follow_a:active {
  box-shadow: 0 0 2px 3px $color-orange;
  border-radius: 5px;
}

.twitter_a:hover {
  padding-top: 4px;
}

.twitter_a:active {
  padding-top: 4px;
}