@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
html, body {
  padding: 0;
  margin: 0; }

.container {
  margin: 0 auto;
  width: 1920px;
  cursor: default; }

.header {
  padding: 0 390px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: #ffffff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.25); }

.header_menu {
  display: flex;
  width: 750px;
  justify-content: space-between;
  list-style-type: none;
  margin-left: 327px;
  padding-left: 0; }

.header_menu a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 27px;
  font-weight: 500;
  color: #272727; }

.header_menu a:hover {
  text-shadow: 0 0 15px black;
  color: orange; }

.header_menu a:active {
  text-shadow: 0 0 15px black, 0 0 15px black;
  color: green; }

.our_works {
  display: flex;
  flex-direction: column;
  height: 850px;
  background: url("../images/our_works_fon.jpg"); }

.dark_block {
  height: 850px;
  background: rgba(0, 0, 0, 0.5); }

.our_works_h1 {
  margin: 0;
  text-align: center;
  align-self: center;
  font-family: 'Libre Baskerville';
  font-size: 60px;
  line-height: 85px;
  font-weight: 400;
  color: #ffffff;
  padding-top: 175px; }

.our_works_button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 180px;
  height: 50px;
  background-color: #fc5f45;
  border-radius: 25px;
  font-family: Poppins;
  font-size: 16px;
  line-height: 80px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  margin: 45px 0 5px 870px; }

.our_works_button:hover {
  cursor: pointer;
  box-shadow: 0 2px 25px 10px orange; }

.our_works_button:active {
  margin: 45px 0 5px 872px;
  box-shadow: 0 0 25px 10px orange;
  color: yellow; }

.our_works_ico {
  display: flex;
  justify-content: space-between;
  margin-top: 102px;
  padding-left: 616px;
  padding-right: 561px; }

.ico1 p {
  font-family: Poppins;
  font-size: 18px;
  line-height: 80px;
  font-weight: 500;
  text-transform: uppercase;
  color: #38c695; }

.ico2 p {
  font-family: Poppins;
  font-size: 18px;
  line-height: 80px;
  font-weight: 500;
  text-transform: uppercase;
  color: #b27cf5; }

.ico3 p {
  font-family: Poppins;
  font-size: 18.1px;
  line-height: 80px;
  font-weight: 500;
  text-transform: uppercase;
  color: #feb960; }

.ico1, .ico2, .ico3 {
  display: flex;
  flex-direction: column; }

.ico1 img, .ico2 img, .ico3 img {
  margin: 0;
  align-self: center; }

.ico1 p, .ico2 p, .ico3 p {
  margin: 0;
  padding: 0; }

.about_us_main {
  display: flex;
  height: 1000px;
  background-color: #ffffff; }

.about_us_main img {
  width: 555px;
  height: 700px;
  background-image: linear-gradient(0deg, rgba(252, 95, 69, 0.29) 0%, rgba(0, 0, 0, 0) 100%);
  border: 10px solid rgba(0, 0, 0, 0.2);
  margin-top: 149px;
  margin-left: 390px;
  z-index: 1; }

.about_us_text {
  position: relative;
  width: 652px;
  height: 550px;
  background-color: #ffffff;
  margin-top: 229px;
  left: -67px;
  z-index: 2;
  padding: 94px 0 0 0;
  box-sizing: border-box; }

.about_us_text h2 {
  font-family: 'Libre Baskerville';
  font-size: 50.1px;
  line-height: 80px;
  font-weight: 700;
  color: #313131;
  margin: 0;
  padding-left: 75px; }

.about_us_text p {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
  color: #616161;
  margin: 0;
  padding-left: 75px;
  width: 495px; }

.about_us_text_line {
  position: absolute;
  width: 652px;
  bottom: 0; }

.table {
  border-spacing: 0;
  width: 100%;
  height: 3px;
  margin: 0;
  padding: 0; }

.table th:nth-child(1) {
  background: #fc5f45;
  width: 25%; }

.table th:nth-child(2) {
  background: #38c695;
  width: 25%; }

.table th:nth-child(3) {
  background: #b27cf5;
  width: 25%; }

.table th:nth-child(4) {
  background: #feb960;
  width: 25%; }

.our_focus {
  height: 824px;
  background-color: #f7f7f7; }

.our_focus_text {
  padding: 142px 0 0 0;
  text-align: center; }

.our_focus_text h2 {
  font-family: 'Libre Baskerville';
  font-size: 50px;
  line-height: 80px;
  font-weight: 700;
  color: #313131;
  margin: 0; }

.our_focus_text p {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 60px;
  font-weight: 400;
  color: #616161;
  margin: 0; }

.our_focus_blocks {
  display: flex;
  justify-content: center; }

.web_block, .ux_block, .photo_block, .app_block {
  width: 263px;
  height: 350px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  margin-right: 30px;
  margin-top: 79px; }

.our_focus_blocks a {
  display: flex;
  height: 100%;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #313131; }

.web_block {
  border-bottom: 3px solid #fc5f45;
  position: relative; }

.ux_block {
  border-bottom: 3px solid #38c695;
  position: relative; }

.photo_block {
  border-bottom: 3px solid #b27cf5;
  position: relative; }

.app_block {
  border-bottom: 3px solid #feb960;
  position: relative; }

.web_block img, .ux_block img, .photo_block img, .app_block img {
  position: absolute;
  top: 66px;
  left: 110px; }

.web_block h3, .ux_block h3, .photo_block h3, .app_block h3 {
  position: absolute;
  margin: 0;
  top: 138px;
  width: 100%;
  text-align: center; }

.web_block p, .ux_block p, .photo_block p, .app_block p {
  position: absolute;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #616161;
  text-align: center;
  bottom: 67px;
  left: 15px; }

.web_block:hover, .ux_block:hover, .photo_block:hover, .app_block:hover {
  box-shadow: 0 1px 5px 15px white; }

.web_block:active {
  box-shadow: 0 1px 5px 15px #fc5f45; }

.ux_block:active {
  box-shadow: 0 1px 5px 15px #38c695; }

.photo_block:active {
  box-shadow: 0 1px 5px 15px #b27cf5; }

.app_block:active {
  box-shadow: 0 1px 5px 15px #feb960; }

.explore_our {
  height: 500px; }

.explore_our video {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.portfolio {
  height: 1385px;
  background-color: #ffffff; }

.portfolio_text {
  padding: 142px 0 0 0;
  text-align: center; }

.portfolio_text h2 {
  font-family: 'Libre Baskerville';
  font-size: 50px;
  line-height: 80px;
  font-weight: 700;
  color: #313131;
  margin: 0; }

.portfolio_text p {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 60px;
  font-weight: 400;
  color: #616161;
  margin: 0; }

.portfolio_blocks {
  padding: 80px 399px 149px 399px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.portfolio_blocks a {
  width: 360px;
  height: 288px;
  margin-bottom: 23px; }

.our_team {
  height: 1226px;
  background-color: #f7f7f7; }

.our_team_text {
  padding: 142px 0 0 0;
  text-align: center; }

.our_team_text h2 {
  font-family: 'Libre Baskerville';
  font-size: 50px;
  line-height: 80px;
  font-weight: 700;
  color: #313131;
  margin: 0; }

.our_team_text p {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 60px;
  font-weight: 400;
  color: #616161;
  margin: 0; }

.our_team_main {
  padding: 78px 390px 0 390px; }

.our_team_blocks {
  display: flex;
  justify-content: space-between; }

.tm_block1 {
  position: relative;
  width: 263px;
  height: 350px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  border-bottom: 3px solid #fc5f45;
  cursor: pointer; }

.tm_block1 p {
  margin: 0;
  bottom: 34px;
  width: 100%;
  text-align: center;
  position: absolute;
  font-family: Poppins, sans-serif;
  font-size: 18.3px;
  font-weight: 500;
  color: #fc5f45; }

.tm_block2 {
  position: relative;
  width: 263px;
  height: 350px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  border-bottom: 3px solid #38c695;
  cursor: pointer; }

.tm_block2 p {
  margin: 0;
  bottom: 34px;
  width: 100%;
  text-align: center;
  position: absolute;
  font-family: Poppins, sans-serif;
  font-size: 18.3px;
  font-weight: 500;
  color: #38c695; }

.tm_block3 {
  position: relative;
  width: 263px;
  height: 350px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  border-bottom: 3px solid #b27cf5;
  cursor: pointer; }

.tm_block3 p {
  margin: 0;
  bottom: 34px;
  width: 100%;
  text-align: center;
  position: absolute;
  font-family: Poppins, sans-serif;
  font-size: 18.3px;
  font-weight: 500;
  color: #b27cf5; }

.tm_block4 {
  position: relative;
  width: 263px;
  height: 350px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  border-bottom: 3px solid #feb960;
  cursor: pointer; }

.tm_block4 p {
  margin: 0;
  bottom: 34px;
  width: 100%;
  text-align: center;
  position: absolute;
  font-family: Poppins, sans-serif;
  font-size: 18.3px;
  font-weight: 500;
  color: #feb960; }

.tm_block1 img, .tm_block2 img, .tm_block3 img, .tm_block4 img {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  width: 253px;
  height: 270px; }

.tm_block1 span, .tm_block2 span, .tm_block3 span, .tm_block4 span {
  margin: 0;
  bottom: 15px;
  width: 100%;
  text-align: center;
  position: absolute;
  font-family: Poppins, sans-serif;
  font-size: 13.2px;
  font-weight: 400;
  color: #616161; }

.tm_block1:hover, .tm_block2:hover, .tm_block3:hover, .tm_block4:hover {
  box-shadow: 0 1px 5px 15px white; }

.tm_block1:active {
  box-shadow: 0 1px 5px 15px #fc5f45; }

.tm_block2:active {
  box-shadow: 0 1px 5px 15px #38c695; }

.tm_block3:active {
  box-shadow: 0 1px 5px 15px #b27cf5; }

.tm_block4:active {
  box-shadow: 0 1px 5px 15px #feb960; }

.quote_blocks {
  display: flex;
  position: relative;
  width: 1140px;
  height: 331px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  margin-top: 60px; }

.quote_blocks:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  top: -30px;
  left: 100px;
  border: 35px solid;
  transform: rotate(45deg);
  border-color: #ffffff transparent transparent #ffffff; }

.quote_blocks h3 {
  margin: 0;
  padding-top: 27px;
  padding-left: 98px;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  line-height: 60px;
  font-weight: 500;
  color: #272727; }

.quote_blocks p {
  margin: 0;
  padding-left: 98px;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
  color: #616161;
  width: 650px; }

.quote_blocks img {
  width: 36px;
  height: 36px;
  align-self: center;
  margin-left: 95px; }

.line {
  align-self: center;
  margin-left: 34px;
  border-right: 2px solid #efefef;
  height: 151px; }

.social_links {
  align-self: center; }

.social_links ul {
  padding-left: 25px; }

.social_links li {
  list-style-type: none;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  color: #616161; }

.a_fb {
  text-decoration: none;
  color: #616161;
  background: url("../images/our_team_fb.png") no-repeat 0 4px;
  padding-left: 20px; }

.a_fb:hover {
  text-shadow: 0 0 20px black; }

.a_tw {
  text-decoration: none;
  color: #616161;
  background: url("../images/our_team_twit.png") no-repeat 0 4px;
  padding-left: 20px; }

.a_tw:hover {
  text-shadow: 0 0 20px black; }

.a_ld {
  text-decoration: none;
  color: #616161;
  background: url("../images/our_team_linkd.png") no-repeat 0 4px;
  padding-left: 20px; }

.a_ld:hover {
  text-shadow: 0 0 20px black; }

.a_in {
  text-decoration: none;
  color: #616161;
  background: url("../images/our_team_inst.png") no-repeat 0 4px;
  padding-left: 20px; }

.a_in:hover {
  text-shadow: 0 0 20px black; }

.stat_block {
  display: flex;
  padding: 147px 496px 0 496px;
  justify-content: space-between;
  height: 464px;
  box-sizing: border-box;
  background: url("../images/stat_fon.png"); }

.stat_block a {
  display: block;
  position: absolute;
  left: -2px;
  top: -2.6px;
  width: 15px;
  height: 16px; }

.stat_block p {
  margin: 0 0 0 -5px;
  font-family: Poppins, sans-serif;
  font-size: 20.1px;
  line-height: 80px;
  font-weight: 500;
  color: #fefefe; }

.clients p {
  line-height: 75px; }

.feedbacks p {
  line-height: 82px;
  margin: 0; }

.stat_block span {
  opacity: 0.7;
  font-family: Poppins, sans-serif;
  font-size: 15.1px;
  font-weight: 400;
  color: #fefefe;
  margin-left: -40px; }

.clients span {
  margin: 0 0 0 -35px; }

.circle_stat {
  display: flex;
  justify-content: center;
  position: relative;
  width: 15px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #fc5f45;
  margin-left: 27px;
  margin-top: 35px; }

.circle_stat:hover {
  box-shadow: 0 0 3px 2px #fc5f45; }

.circle2_stat {
  position: absolute;
  align-self: center;
  width: 10px;
  height: 11px;
  border-radius: 50%;
  background: #fc5f45; }

.circle_clients {
  display: flex;
  justify-content: center;
  position: relative;
  width: 15px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #38c695;
  margin-left: 20px;
  margin-top: 35px; }

.circle_clients:hover {
  box-shadow: 0 0 3px 2px #38c695;
  cursor: pointer; }

.circle2_clients {
  position: absolute;
  align-self: center;
  width: 10px;
  height: 11px;
  border-radius: 50%;
  background: #38c695; }

.circle_feedbacks {
  display: flex;
  justify-content: center;
  position: relative;
  width: 15px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #b27cf5;
  margin-left: 20px;
  margin-top: 35px; }

.circle_feedbacks:hover {
  box-shadow: 0 0 3px 2px #b27cf5;
  cursor: pointer; }

.circle2_feedbacks {
  position: absolute;
  align-self: center;
  width: 10px;
  height: 11px;
  border-radius: 50%;
  background: #b27cf5; }

.circle_freebies {
  display: flex;
  justify-content: center;
  position: relative;
  width: 15px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #feb960;
  margin-left: 20px;
  margin-top: 35px; }

.circle_freebies:hover {
  box-shadow: 0 0 3px 2px #feb960;
  cursor: pointer; }

.circle2_freebies {
  position: absolute;
  align-self: center;
  width: 10px;
  height: 11px;
  border-radius: 50%;
  background: #feb960; }

.work_steps {
  display: flex;
  flex-direction: column;
  height: 1726px;
  background-color: #ffffff; }

.work_steps_text {
  padding: 142px 0 0 0;
  text-align: center; }

.work_steps_text h2 {
  font-family: 'Libre Baskerville';
  font-size: 50px;
  line-height: 80px;
  font-weight: 700;
  color: #313131;
  margin: 0; }

.work_steps_text p {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 60px;
  font-weight: 400;
  color: #616161;
  margin: 0; }

.work_photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 128px; }

.photo1, .photo2, .photo3, .photo4 {
  width: 556px;
  height: 300px; }

.photo1 {
  background: url("../images/work_photo1.jpg");
  position: relative;
  z-index: 1; }

.photo2 {
  background: url("../images/work_photo2.jpg");
  position: relative;
  z-index: 1; }

.photo3 {
  background: url("../images/work_photo3.jpg");
  position: relative;
  z-index: 1; }

.photo4 {
  background: url("../images/work_photo4.jpg");
  position: relative;
  z-index: 1; }

.work_text1 {
  position: absolute;
  width: 458px;
  height: 301px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  z-index: 2;
  bottom: 50px;
  left: -300px;
  padding-top: 73px;
  padding-left: 125px;
  box-sizing: border-box;
  border-bottom: 3px solid #fc5f45; }

.work_text1 h3 {
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 25px;
  line-height: 1.2;
  font-weight: 400;
  color: #272727; }

.work_text1 p {
  width: 270px;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
  color: #616161; }

.work_text2 {
  position: absolute;
  width: 458px;
  height: 301px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  z-index: 2;
  bottom: 50px;
  right: -300px;
  padding-top: 73px;
  padding-left: 125px;
  box-sizing: border-box;
  border-bottom: 3px solid #38c695; }

.work_text2 h3 {
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 25px;
  line-height: 1.2;
  font-weight: 400;
  color: #272727; }

.work_text2 p {
  width: 270px;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
  color: #616161; }

.work_text3 {
  position: absolute;
  width: 458px;
  height: 301px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  z-index: 2;
  bottom: 50px;
  left: -300px;
  padding-top: 73px;
  padding-left: 125px;
  box-sizing: border-box;
  border-bottom: 3px solid #b27cf5; }

.work_text3 h3 {
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 25px;
  line-height: 1.2;
  font-weight: 400;
  color: #272727; }

.work_text3 p {
  width: 270px;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
  color: #616161; }

.work_text4 {
  position: absolute;
  width: 458px;
  height: 301px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  z-index: 2;
  bottom: 50px;
  right: -300px;
  padding-top: 73px;
  padding-left: 125px;
  box-sizing: border-box;
  border-bottom: 3px solid #feb960; }

.work_text4 h3 {
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 25px;
  line-height: 1.2;
  font-weight: 400;
  color: #272727; }

.work_text4 p {
  width: 270px;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
  color: #616161; }

.pricing {
  height: 1049px;
  background-color: #f7f7f7; }

.pricing_text {
  padding: 142px 0 0 0;
  text-align: center; }

.pricing_text h2 {
  font-family: 'Libre Baskerville';
  font-size: 50px;
  line-height: 80px;
  font-weight: 700;
  color: #313131;
  margin: 0; }

.pricing_text p {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 60px;
  font-weight: 400;
  color: #616161;
  margin: 0; }

.buy_packs {
  display: flex;
  padding: 77px 390px 0 390px;
  justify-content: space-between; }

.buy_packs h3 {
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  line-height: 80px;
  font-weight: 500;
  color: #313131;
  text-align: center; }

.price_p {
  margin: 25px 0 0 0;
  text-align: center;
  font-family: Poppins;
  font-size: 25px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff; }

.price_p2 {
  margin: 10px 0 0 0;
  text-align: center;
  font-family: Poppins;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff; }

.starter {
  position: relative;
  width: 360px;
  height: 575px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  border-top: 3px solid #38c695; }

.circle_starter {
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  left: 127px;
  width: 106px;
  height: 106px;
  border-radius: 50%;
  border: 3px solid #38c695; }

.circle2_starter {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-self: center;
  width: 99px;
  height: 99px;
  border-radius: 50%;
  background: #38c695; }

.but_starter {
  width: 180px;
  height: 50px;
  background-color: rgba(56, 198, 149, 0);
  border: 2px solid #38c695;
  border-radius: 25px;
  margin-left: 90px;
  margin-top: 10px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  color: #38c695;
  cursor: pointer; }

.but_starter:hover {
  box-shadow: 0 0 5px 3px #38c695; }

.but_starter:active {
  box-shadow: none;
  background-color: #38c695;
  color: #ffffff; }

.ultimate {
  position: relative;
  width: 360px;
  height: 575px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  border-top: 3px solid #fc5f45; }

.circle_ultimate {
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  left: 127px;
  width: 106px;
  height: 106px;
  border-radius: 50%;
  border: 3px solid #fc5f45; }

.circle2_ultimate {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-self: center;
  width: 99px;
  height: 99px;
  border-radius: 50%;
  background: #fc5f45; }

.but_ultimate {
  width: 180px;
  height: 50px;
  background-color: rgba(56, 198, 149, 0);
  border: 2px solid #fc5f45;
  border-radius: 25px;
  margin-left: 90px;
  margin-top: 10px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  color: #fc5f45;
  cursor: pointer; }

.but_ultimate:hover {
  box-shadow: 0 0 5px 3px #fc5f45; }

.but_ultimate:active {
  box-shadow: none;
  background-color: #fc5f45;
  color: #ffffff; }

.prof {
  position: relative;
  width: 360px;
  height: 575px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  border-top: 3px solid #b27cf5; }

.circle_prof {
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  left: 127px;
  width: 106px;
  height: 106px;
  border-radius: 50%;
  border: 3px solid #b27cf5; }

.circle2_prof {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-self: center;
  width: 99px;
  height: 99px;
  border-radius: 50%;
  background: #b27cf5; }

.but_prof {
  width: 180px;
  height: 50px;
  background-color: rgba(56, 198, 149, 0);
  border: 2px solid #b27cf5;
  border-radius: 25px;
  margin-left: 90px;
  margin-top: 10px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  color: #b27cf5;
  cursor: pointer; }

.but_prof:hover {
  box-shadow: 0 0 5px 3px #b27cf5; }

.but_prof:active {
  box-shadow: none;
  background-color: #b27cf5;
  color: #ffffff; }

.buy_packs span {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  line-height: 40px;
  font-weight: bolder;
  color: #272727; }

.pluses_p {
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  line-height: 40px;
  font-weight: 400;
  color: #616161;
  margin-top: 140px; }

.starter:hover, .ultimate:hover, .prof:hover {
  box-shadow: 0 1px 5px 10px white; }

.testimonials {
  height: 874px;
  background-color: rgba(38, 39, 50, 0.85); }

.testimonials_text {
  padding: 142px 0 0 0;
  text-align: center; }

.testimonials_text h2 {
  font-family: 'Libre Baskerville';
  font-size: 50px;
  line-height: 80px;
  font-weight: 700;
  color: #ffffff;
  margin: 0; }

.testimonials_text p {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 60px;
  font-weight: 400;
  color: #ffffff;
  margin: 0; }

.testi_block1 {
  display: flex; }

.testi_photo1 {
  width: 384px;
  height: 399px;
  background: url("../images/testi_photo1.jpg");
  background-size: 354px 520px;
  border: 10px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  margin-left: 390px;
  margin-top: 79px; }

.testi_text1 {
  position: relative;
  margin: 123px 0 0 0;
  width: 822px;
  height: 312px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  border-bottom: 3px solid #fc5f45;
  z-index: 1; }

.kov {
  margin: 0;
  left: 17px;
  position: absolute;
  opacity: 0.3;
  font-family: 'Libre Baskerville';
  font-size: 337.6px;
  line-height: 325px;
  font-weight: 700;
  color: #e0e0e0;
  z-index: 2; }

.testi_text1_main {
  position: absolute;
  margin: 0;
  width: 650px;
  top: 40px;
  left: 60px;
  font-family: Poppins;
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
  color: #616161;
  z-index: 3; }

.testi_text1_span {
  position: absolute;
  margin: 0;
  bottom: 70px;
  left: 60px;
  font-family: Sacramento, cursive;
  font-size: 40px;
  line-height: 80px;
  font-weight: 400;
  color: #272727; }

.testi_text1_span2 {
  position: absolute;
  margin: 0;
  bottom: 30px;
  left: 60px;
  font-family: Poppins;
  font-size: 18px;
  line-height: 80px;
  font-weight: bolder;
  color: #272727; }

.testi_text1_span3 {
  position: absolute;
  margin: 0;
  bottom: 0px;
  left: 60px;
  font-family: Poppins;
  font-size: 13px;
  line-height: 80px;
  font-weight: 400;
  color: #fc5f45; }

.testi_switch {
  display: flex;
  align-items: flex-end;
  margin-left: -170px; }

.circle_testi {
  display: flex;
  justify-content: center;
  position: relative;
  border: 1px solid white;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.05);
  margin-left: 10px;
  margin-top: 35px; }

.circle_testi:hover {
  border: 1px solid #fc5f45;
  transition: border .1s;
  cursor: pointer; }

.circle_testi:active {
  box-shadow: 0 0 2px 3px #fc5f45; }

.circle2_testi {
  position: absolute;
  align-self: center;
  width: 10px;
  height: 11px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.05); }

.circle_testi:hover .circle2_testi {
  background: #fc5f45;
  transition: background .1s; }

.why_us {
  height: 1050px;
  background-color: #ffffff; }

.why_us_text {
  padding: 142px 0 0 0;
  text-align: center; }

.why_us_text h2 {
  font-family: 'Libre Baskerville';
  font-size: 50px;
  line-height: 80px;
  font-weight: 700;
  color: #313131;
  margin: 0; }

.why_us_text p {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 60px;
  font-weight: 400;
  color: #313131;
  margin: 0; }

/*# sourceMappingURL=style.css.map */
