@media screen and (max-width: 1369.98px) {
    .containter {
        width: 1160px;
    }

    .new {
        margin-right: 500px;
    }

    .exclusive_right {
        background-position: center;
    }

    .exclusive_left {
        background-position: center;
    }

    .stol {
        background-position: center;
    }

    .podyshka {
        background-position: center;
        width: 430px;
        height: 430px;
    }

    .text_podyshka {
        padding: 108px 150px 0 51px;
    }

    .podyshka_img {
        height: 210px;
        width: 210px;
    }

    .podyshka_imgs {
        width: 55%;
        margin-left: 40px;
    }

    .podyshka_imgs a {
        height: 210px;
        width: 210px;
        margin-bottom: 10px;
        margin-left: 16px;
    }

    .links_footer_all {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-left: 40px;
    }

    .links_footer2 {
        margin-left: 22px;
    }

    .links_footer3 {
        margin-top: -72px;
        margin-left: 415px;
        margin-right: 10px;
    }

    .form {
        margin-left: 415px;
        margin-bottom: 50px;
    }

    .niz_text {
        margin-top: 0;
    }

    .telegram_btn {
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 1199.98px) {
    .containter {
        width: 975px;
    }

    .header {
        background-position: center;
    }

    .navigation li {
        margin: 0 10px;
    }

    .new {
        margin-right: 330px;
    }

    .lenta_card1, .lenta_card2, .lenta_card3, .lenta_card4 {
        background-position: center;
        width: 240px;
        height: 240px;
        margin-right: 10px;
    }

    .exclusive_right {
        background-position: center;
    }

    .exclusive_left {
        background-position: center;
    }

    .stol {
        background-position: center;
    }

    .predfooter {
        background-position: center;
    }

    .podyshka_products {
        padding: 20px 10px 20px 10px;
    }

    .footer {
        height: 340px;
        padding: 50px 15px 0 15px;
    }

    .head2 {
        margin-left: -140px;
    }
}

@media screen and (max-width: 991.98px) {
    .containter {
        width: 740px;
        height: 5550px;
    }

    .header {
        padding-left: 40px;
        padding-right: 40px;
        background-position: center;
    }

    .navigation li {
        margin: 0 4px;
    }

    .featured_new {
        padding-right: 40px;
        padding-left: 40px;
    }

    .new {
        margin-right: 190px;
    }

    .lenta_card1, .lenta_card2, .lenta_card3, .lenta_card4 {
        background-position: center;
        width: 240px;
        height: 200px;
        margin-right: 5px;
    }

    .lenta_card1:hover .text_lenta {
        bottom: 48px;
        opacity: 1;
    }

    .lenta_card2:hover .text_lenta {
        bottom: 48px;
        opacity: 1;
    }

    .lenta_card3:hover .text_lenta {
        bottom: 48px;
        opacity: 1;
    }

    .lenta_card4:hover .text_lenta {
        bottom: 48px;
        opacity: 1;
    }

    .exclusive_left {
        padding: 150px 0 0 30px;
        background-position: center;
        height: 530px;
    }

    .exclusive_right {
        padding: 150px 0 0 30px;
        background-position: center;
        height: 530px;
    }

    .trending_product {
        padding: 35px 0 0 0;
    }

    .trending_imgs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 34px;
    }

    .trend_img_size {
        width: 300px;
        height: 300px;
        margin-left: 35px;
        margin-right: 35px;
    }

    .stol {
        background-position: center;
    }

    .podyshka_products {
        display: flex;
        flex-direction: column;
    }

    .podyshka {
        align-self: center;
    }

    .podyshka_imgs {
        display: flex;
        width: 70%;
        align-self: center;
        margin: 20px 0 0 0;
        padding: 0;
    }

    .footer {
        padding: 10px 10px;
        height: 330px;
    }

    .head2 {
        margin-left: 115px;
    }

    .head3 {
        margin-left: -15px;
        margin-right: 0;
    }

    .links_footer_all {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }

    .links_footer2 {
        margin: 0;
    }

    .links_footer3 {
        margin: -160px 0 0 235px;
        width: 150px;
        height: 150px;
    }

    .pole {
        width: 230px;
        margin-left: 55px;
    }

    .form {
        margin: 0 0 10px 180px;
    }

    .telegram_btn {
        bottom: 14px;
        right: 20px;
    }

    .text_social {
        margin-left: 10px;
    }
}

@media screen and (max-width: 767.98px) {
    .containter {
        width: 550px;
        height: 5300px;
    }

    .navigation_main {
        padding-top: 15px;
        height: 85px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }

    .explore_all {
        font-size: 15px;
    }

    .new {
        margin-right: 70px;
    }

    .featured_new_text {
        display: flex;
        width: 100%;
        justify-content: space-between;
        height: 70px;
        position: relative;
        align-items: flex-end;
    }

    .lenta_featured {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 550px;
        width: 100%;
        align-items: center;
        padding-bottom: 20px;
    }

    .lenta_card1, .lenta_card2, .lenta_card3, .lenta_card4 {
        background-position: center;
        width: 180px;
        height: 190px;
        margin-right: 5px;
    }

    .exclusive_left {
        padding: 150px 0 0 30px;
        background-position: right;
        height: 430px;
    }

    .exclusive_right {
        padding: 150px 0 0 20px;
        background-position: right;
        height: 430px;
    }

    .trend_img_size {
        width: 190px;
        height: 190px;
    }

    .podyshka_imgs {
        width: 100%;
    }

    .footer {
        height: 520px;
    }

    .verh_text {
        display: flex;
        justify-content: normal;
    }

    .head3 {
        display: none;
    }

    .head2 {
        margin-left: 80px;
    }

    .links_footer_all {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .links_footer2 {
        margin-left: 0;
    }

    .links_footer3 {
        margin-left: 0;
        margin-top: 10px;
    }

    .form {
        margin-left: 0;
    }

    .pole {
        margin-left: 0;
        width: 350px;
        height: 48px;
    }

    .social {
        margin-left: 0;
        margin-right: 10px;
    }

    .text_social {
        margin-left: 0;
    }

    .telegram_btn {
        bottom: 15px;
    }
}

/*@media screen and (max-width: 597px) {*/
/*    .containter {*/
/*        width: 300px;*/
/*        height: 100%;*/
/*        background: red;*/
/*    }*/
/*}*/