@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&display=swap');

html, body {
    padding: 0;
    margin: 0;
}

.containter {
    max-width: 1340px;
    min-width: 576px;
    height: 5710px;
    background-color: white;
    margin: 0 auto;
}

.header {
    background: url("../images/fon1_main.png");
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 98px;
    box-sizing: border-box;
}


.navigation_main {
    height: 85px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


.navigation li {
    list-style-type: none;
    margin: 0 15px;
}

.navigation {
    display: flex;
    margin: 0;
}


.menu_style {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    color: #8c8c8c;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
    position: relative;
}

.menu_style:after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background-color: black;
    content: "";
    transition: width 0.3s ease-out;
}

.menu_style:hover {
    text-shadow: 0 0 1px black, 0 0 .65px black, 0 0 .65px black, 0 0 .65px black;
    color: black;
}

.menu_style:hover:after,
.menu_style:focus:after {
    width: 100%;
}

.menu_style:hover:visited,
.menu_style:focus:visited {
    width: 100%;
}

.search_img {
    position: relative;
}

.search_img:active {
    top: 1px;
    left: 1px;
}

.text_header {
    padding: 115px 0 0 0;
}

.trending {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #43a047;
}

.fishnet_chair {
    margin: 10px 0 0 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    font-weight: 100;
    text-transform: uppercase;
    color: #212121;
}

.kratko {
    margin: 15px 0 0 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #6c6c6c;
    width: 500px;
}

.order_us {
    width: 212px;
    height: 45px;
    background-color: #ffffff;
    border: none;
    border-radius: 22.5px;
    margin: 35px 0 0 0;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
    cursor: pointer;
    position: relative;
}

.order_us:hover {
    border: 2px solid yellow;
}

.order_us:focus {
    outline: none;
}

.order_us:active {
    color: green;
    top: 1px;
    left: 1px;
}

.scroll_navigation {
    display: flex;
    align-self: center;
    align-items: flex-end;
    margin-left: 40px;
}

.button_left {
    margin: 10px 5px 35px 5px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: black;
    border: none;
    cursor: pointer;
    opacity: 0.2;
}

.button_left:hover, .button_left:focus {
    background: black;
    margin: 0 0 35px 0;
    width: 48px;
    height: 48px;
    opacity: 1;
}

.button_left:focus {
    outline: none;
}

.button_center {
    margin: 0 10px 35px 10px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: black;
    border: none;
    cursor: pointer;
    opacity: 0.2;
}

.button_center:hover, .button_center:focus {
    background: black;
    width: 48px;
    height: 48px;
    margin: 0 5px 35px 5px;
    opacity: 1;
}

.button_center:focus {
    outline: none;
}

.button_right {
    margin-bottom: 35px;
    margin-left: 10px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: black;
    border: none;
    cursor: pointer;
    opacity: 0.2;
}

.button_right:hover, .button_right:focus {
    background: black;
    width: 48px;
    height: 48px;
    margin: 0 0 35px 1px;
    opacity: 1;
}

.button_right:focus {
    outline: none;
}

/*Новый блок*/
.featured_new {
    height: 609px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 98px;
    box-sizing: border-box;
}

.featured_new_text {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 160px;
    position: relative;
    align-items: flex-end;
}

.featured {
    font-family: Montserrat;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #6c6c6c;
    text-decoration: none;
}

.featured:hover {
    font-weight: 700;
    color: #212121;
}

.featured:after {
    display: block;
    left: 0;
    width: 0;
    height: 4.5px;
    background-color: black;
    content: "";
    transition: width 0.3s ease-out;
}

.featured:hover:after,
.featured:focus:after {
    width: 100%;
}

.featured:hover:visited,
.featured:focus:visited {
    width: 100%;
    font-weight: 700;
    color: #212121;
}

.new {
    font-family: Montserrat;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #6c6c6c;
    text-decoration: none;
    margin: 0 650px 0 0;
}

.new:hover {
    font-weight: 700;
    color: #212121;
}

.new:after {
    display: block;
    left: 0;
    width: 0;
    height: 4.5px;
    background-color: black;
    content: "";
    transition: width 0.3s ease-out;
}

.new:hover:after,
.new:focus:after {
    width: 100%;
}

.new:hover:visited,
.new:focus:visited {
    width: 100%;
    font-weight: 700;
    color: #212121;
}

.explore_all {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
    background-color: white;
    border: none;
    padding: 0;
    margin: 0 0 6px 0;
}

.explore_all:hover {
    outline: none;
    color: yellowgreen;
    cursor: pointer;
}

.explore_all:focus {
    outline: none;
    color: green;
}

.lenta_featured {
    display: flex;
    justify-content: space-between;
    height: 270px;
    width: 100%;
    margin-top: 50px;
}

.button {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    opacity: .9;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    border-radius: 50%;
    background: white;
}


.box {
    width: 10px;
    height: 10px;
    border-top: 3px solid black;
    border-right: 3px solid black;
    transform: rotate(45deg);
}

.lenta_card1 {
    background: url("../images/featured_img0.png");
    width: 270px;
    height: 270px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.lenta_card2 {
    background: url("../images/featured_img1.png");
    width: 270px;
    height: 270px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.lenta_card3 {
    background: url("../images/featured_img2.png");
    width: 270px;
    height: 270px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.lenta_card4 {
    background: url("../images/featured_img3.png");
    width: 270px;
    height: 270px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.lenta_card1:hover {
    box-shadow: 0 0 1px 1px black;
}

.lenta_card1:hover .fishnet_lenta {
    bottom: 114px;
    opacity: 1;
}

.lenta_card1:hover .text_lenta {
    bottom: 68px;
    opacity: 1;
}

.lenta_card1:hover .button_featured {
    bottom: 158px;
    opacity: 1;
}

.lenta_card2:hover {
    box-shadow: 0 0 1px 1px black;
}

.lenta_card2:hover .fishnet_lenta {
    bottom: 114px;
    opacity: 1;
}

.lenta_card2:hover .text_lenta {
    bottom: 68px;
    opacity: 1;
}

.lenta_card2:hover .button_featured {
    bottom: 158px;
    opacity: 1;
}

.lenta_card3:hover {
    box-shadow: 0 0 1px 1px black;
}

.lenta_card3:hover .fishnet_lenta {
    bottom: 114px;
    opacity: 1;
}

.lenta_card3:hover .text_lenta {
    bottom: 68px;
    opacity: 1;
}

.lenta_card3:hover .button_featured {
    bottom: 158px;
    opacity: 1;
}

.lenta_card4:hover {
    box-shadow: 0 0 1px 1px black;
}

.lenta_card4:hover .fishnet_lenta {
    bottom: 114px;
    opacity: 1;
}

.lenta_card4:hover .text_lenta {
    bottom: 68px;
    opacity: 1;
}

.lenta_card4:hover .button_featured {
    bottom: 158px;
    opacity: 1;
}

.button_featured {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: -158px;
    transition: bottom .8s,
    opacity .5s;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.fishnet_lenta {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: -114px;
    transition: bottom .8s,
    opacity .5s;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    font-family: Montserrat;
    font-size: 22px;
    line-height: 29px;
    font-weight: 700;
    color: #212121;
}

.text_lenta {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: -68px;
    transition: bottom .8s,
    opacity .5s;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    padding: 0 30px;
    box-sizing: border-box;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #6c6c6c;
}

/*Новый блок*/
.exclusive {
    display: flex;
}

.exclusive_left {
    width: 50%;
    height: 683px;
    background: url("../images/exclusive_fon_left.png");
    padding: 228px 250px 0 51px;
    box-sizing: border-box;
}

.exclusive_right {
    width: 50%;
    height: 683px;
    background: url("../images/exclusive_fon_right.png");
    padding: 228px 250px 0 51px;
    box-sizing: border-box;
}

.exclusive_text {
    margin: 0;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #1e88e5;
}

.fishnet_chair_exclusive {
    margin: 17px 0 0 0;
    font-family: Montserrat;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #212121;
}

.kratko_exclusive {
    margin: 5px 0 0 0;
    font-family: Montserrat;
    font-size: 14.1px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
}

.order_us_exclusive {
    width: 212px;
    height: 45px;
    background-color: #ffffff;
    border: none;
    border-radius: 22.5px;
    margin: 20px 0 0 0;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
    position: relative;
    cursor: pointer;
}

.order_us_exclusive:hover {
    border: 2px solid yellow;
}


.order_us_exclusive:focus {
    outline: none;
}

.order_us_exclusive:active {
    color: green;
    top: 1px;
    left: 1px;
}

/*Новый блок*/
.trending_product {
    padding: 119px 98px 90px 98px;
}

.trend_text {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.trending_products_text {
    margin: 0;
    font-family: Montserrat;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #212121;
}

.trending_imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 64px;
}

.trending_imgs a {
    display: flex;
    margin-bottom: 20px;
}

.trending_explore_all {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
    background-color: white;
    border: none;
    height: 40px;
}

.trending_explore_all:hover {
    outline: none;
    color: yellowgreen;
    cursor: pointer;
}

.trending_explore_all:focus {
    outline: none;
    color: green;
}

/*Новый блок*/
.stol {
    background: url("../images/stol_fon.png");
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 98px;
    box-sizing: border-box;
}

.hot_block {
    padding: 287px 0 0 0;
}

.hot_deal {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #e53935;
    margin: 0;
}

/*Новый блок*/
.podyshka_products {
    display: flex;
    padding: 120px 98px 94px 98px;
}

.podyshka {
    width: 570px;
    height: 570px;
    display: flex;
    background: url("../images/podyshka_fon.png");
    box-sizing: border-box;
}

.text_podyshka {
    padding: 178px 150px 0 51px;
}

.podyshka_imgs {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.podyshka_imgs a {
    height: 270px;
    width: 270px;
    margin-bottom: 30px;
    margin-left: 16px;
}


.podyshka_exclusive {
    margin: 0;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #1e88e5;
}

.fishnet_chair_podyshka {
    margin: 0;
    font-family: Montserrat;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #212121;
}

.kratko_podyshka {
    margin: 10px 0 0 0;
    font-family: Montserrat;
    font-size: 14.1px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
}

.order_us_podyshka {
    width: 212px;
    height: 45px;
    background-color: #ffffff;
    border: none;
    border-radius: 22.5px;
    margin: 30px 0 0 0;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
    position: relative;
    cursor: pointer;
}

.order_us_podyshka:hover {
    border: 2px solid yellow;
}

.order_us_podyshka:focus {
    outline: none;
}

.order_us_podyshka:active {
    color: green;
    top: 1px;
    left: 1px;
}

/*Новый блок*/
.predfooter {
    background: url("../images/fon_predfooter.png");
    width: 100%;
    height: 516px;
    padding: 125px 0 0 99px;
    box-sizing: border-box;
}

.mobile_app {
    margin: 0;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6c6c6c;
}

.discover_text {
    margin: 7px 0 0 0;
    font-family: Montserrat;
    font-size: 62px;
    font-weight: 100;
    text-transform: uppercase;
    color: #212121;
    width: 550px;
}

.discover_text2 {
    margin: 10px 0 30px 0;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 300;
    color: #6c6c6c;
}

.gp_img {
    padding-left: 10px;
}

.footer {
    margin: 0;
    padding: 120px 99px 0 99px;
    width: 100%;
    height: 384px;
    background-color: #f7f7f7;
    box-sizing: border-box;
}

.verh_text {
    display: flex;
    justify-content: space-between;
}

.text_head {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6c6c6c;
}

.head2 {
    margin-left: -150px;
}

.head3 {
    margin-right: 138px;
}

.center_text {
    display: flex;
}

.text_footer {
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #212121;
    width: 250px;
}

.links_footer_all {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.links_footer {
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #212121;
    margin-top: 10px;
}

.links_footer a {
    margin: 0;
    text-decoration: none;
    color: gray;
}

.links_footer a:hover {
    color: black;
}

.links_footer2 {
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #212121;
    margin-top: 10px;
    margin-left: 108px;
}

.links_footer2 a {
    margin: 0;
    text-decoration: none;
    color: gray;
}

.links_footer2 a:hover {
    color: black;
}

.links_footer3 {
    height: 50px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #212121;
    width: 370px;
    margin-top: 10px;
    margin-left: 73px;
    margin-right: 10px;
}

.niz_text {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #6c6c6c;
    margin-top: 37px;
    display: flex;
    justify-content: space-between;
}


.social {
    padding: -5px 0 0 158px;
    position: relative;
}

.social:active {
    top: 1px;
    left: 1px;
}

.form {
    margin-right: 10px;
    position: relative;
}


.pole {
    width: 370px;
    height: 48px;
    border: 1px solid #d9dee1;
    margin-top: -20px;
    padding-left: 19px;
    box-sizing: border-box;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #6c6c6c;
}

.telegram_btn {
    position: absolute;
    bottom: 25px;
    right: 20px;
    width: 20px;
    height: 20px;
}